@charset "UTF-8";/*!
@-webkit-keyframes umScaleIn {
    0% { opacity: 0;-webkit-transform: scale(1.2); }
    100% { opacity: 1;-webkit-transform: scale(1); }
}

@-moz-keyframes umScaleIn {
    0% { opacity: 0;-moz-transform: scale(1.2); }
    100% { opacity: 1;-moz-transform: scale(1); }
}

@-o-keyframes umScaleIn {
    0% { opacity: 0;-o-transform: scale(1.2); }
    100% { opacity: 1;-o-transform: scale(1); }
}

@-ms-keyframes umScaleIn {
    0% { opacity: 0;-ms-transform: scale(1.2); }
    100% { opacity: 1;-ms-transform: scale(1); }
}

@keyframes umScaleIn {
    0% { opacity: 0;transform: scale(1.2); }
    100% { opacity: 1;transform: scale(1); }
}

.animated.umScaleIn {
    -webkit-animation-name: umScaleIn;
    -moz-animation-name: umScaleIn;
    -ms-animation-name: umScaleIn;
    -o-animation-name: umScaleIn;
    animation-name: umScaleIn;

    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}

.animated.umScaleIn {
    -webkit-animation-duration: .4s;
    -moz-animation-duration: .4s;
    -ms-animation-duration: .4s;
    -o-animation-duration: .4s;
    animation-duration: .4s;
}
