/*
Raleway Template
http://www.templatemo.com/preview/templatemo_421_raleway
*/

/* CSS Reset */
@import url('reset.css');

/* Fonts loaded via <link> tags in HTML for better performance */

:root {
	--animate-duration: 1s;
}

@media screen and (min-width: 992px) {
    .container {
        padding-right: 40px;
        padding-left: 40px;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.site-header {
    margin-bottom: 80px;

	animation: fadeInDown;
	animation-duration: 1s;
}

.site-branding h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.header-wrapper {
    border-bottom: 2px solid #46494f;
    padding: 60px 0;
    position: relative;
}
.header-wrapper::after {
    content: "";
    display: table;
    clear: both;
}

a.toggle-nav {
    position: absolute;
    top: 0;
    right: 0;
    margin: 60px 0;
    width: 46px;
    height: 46px;
    background: #00d4aa;
    text-align: center;
    line-height: 46px;
}

a.toggle-nav i {
    font-size: 16px;
}

a.toggle-nav:hover {
    color: #fff;
}

nav.main-navigation {
    text-align: right;
    margin-top: 10px;
}

@media screen and (max-width: 992px) {
    nav.main-navigation {
        margin-top: 20px;
        text-align: left;
    }
}

@media screen and (max-width: 992px) {
	.menu-responsive {
		display: none;
	}
}

ul.main-menu li {
    display: inline-block;
    margin-left: 10px;
}

ul.main-menu li a {
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 13px;
	font-weight: 400;
    transition: background 0.2s ease, color 0.2s ease;
}

ul.main-menu li a.active {
    background: #00d4aa;
    color: #fff;
}

@media screen and (max-width: 992px) {
    ul.main-menu {
        background: #26282c;
        padding: 10px 0;
    }

    ul.main-menu li {
        display: block;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    ul.main-menu li a {
        font-size: 15px;
        font-weight: 300;
    }

    ul.main-menu li a.active {
        background: inherit;
        color: #00d4aa;
    }
}

.content {
    display: none;
}

.home-intro {
    margin-bottom: 100px;
}

.home-intro p {
    font-size: 18px;
    line-height: 1.85;
    width: 80%;
    margin: 0 auto;
    /* animation-delay: 0.5s; */
}

h2.welcome-title {
    font-weight: 300;
    color: #fff;
    font-size: 48px;
    margin-bottom: 30px;
    background: linear-gradient(135deg, #00d4aa, #4e91c9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: none;
    filter: drop-shadow(0 0 12px rgba(0, 212, 170, 0.3));

	animation: fadeInLeft;
	animation-duration: 2s;
    animation-delay: 0.1s;
}

.welcome-subtitle {
	opacity: 0;
	animation: fadeInRight;
	animation-duration: 2s;
	animation-delay: 0.1s;
	animation-fill-mode: forwards;
}

@media screen and (max-width: 992px) {
    h2.welcome-title {
        font-size: 36px;
    }
}

.home-contents {
    margin-bottom: 100px;
}

.home-contents > .row {
    align-items: center;
}

.home-contents .project-item img {
    height: 170px;
    object-fit: cover;
}

.home-contents .project-item {
    margin-bottom: 20px;
}

.home-contents .row .row > [class*="col-"]:nth-child(n+3) .project-item {
    margin-bottom: 0;
}

.home-contents h2 {
    color: #fff;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 35px;
}

.home-contents p {
    margin-bottom: 32px;
}

.project-title {
	opacity: 0;
    padding: 60px;
    background: #46494f;
    margin-bottom: 0;
    border-radius: 8px;
    border-left: 3px solid #00d4aa;
	animation: fadeInUp;
	animation-duration: 2s;
    animation-delay: 0.5s;
	animation-fill-mode: forwards;
}

.project-title p {
	font-size: 18px;
	font-weight: 400;
}

.project-item {
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    border: 3px solid #1a1c1f;
    backface-visibility: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-item:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 24px rgba(0,0,0,0.3);
}

.project-item img {
    width: 100%;
    display: block;
}

.project-item.one {
	opacity: 0;
	animation: fadeInRight;
	animation-duration: 1s;
    animation-delay: 1s;
	animation-fill-mode: forwards;
}

.project-item.two {
	opacity: 0;
	animation: fadeInRight;
	animation-duration: 1s;
    animation-delay: 1.5s;
	animation-fill-mode: forwards;
}

.project-item.three {
	opacity: 0;
	animation: fadeInRight;
	animation-duration: 1s;
    animation-delay: 2s;
	animation-fill-mode: forwards;
}

.project-item.four {
	opacity: 0;
	animation: fadeInRight;
	animation-duration: 1s;
    animation-delay: 2.5s;
	animation-fill-mode: forwards;
}

.project-item:hover .overlay {
    opacity: 1;
    transform: rotate(0);
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(169,91,195,0.9);
    text-align: center;
    opacity: 0;
    transition: all 200ms ease-in-out;
    transform: rotate(45deg);
}
.overlay h4 {
	font-size: 18px;
	font-weight: 300;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.overlay h4 a {
    color: #fff;
}

.our-story {
    padding: 0 50px;
    margin-top: 30px;
    position: relative;
    overflow: hidden;
}

.story-bg {
    background: url("../photos/story-bg-min.webp");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
	opacity: 0;
	animation: fadeIn;
	animation-duration: 3s;
    animation-delay: 1s;
	animation-fill-mode: forwards;
}

.inner-story {
    background: #fff;
    padding: 40px;
    color: #32353a;
    border-radius: 8px;
	opacity: 0;
	animation: fadeInRight;
	animation-duration: 2.5s;
    animation-delay: 0.5s;
	animation-fill-mode: forwards;
}

.inner-story h2 {
    margin-bottom: 30px;
}

.inner-story p {
	font-size: 16px;
    margin-bottom: 0;
}

/* Bootstrap Media querys: */
/* xs: Extra small devices (portrait phones, less than 576px) */
/* sm: Small devices (landscape phones, 576px and up) */
/* md: Medium devices (tablets, 768px and up) */
/* lg: Large devices (desktops, 992px and up) */
/* xl: Extra large devices (large desktops, 1200px and up) */

.our-offers {
    margin-top: 3px;
    padding: 0 50px;
    position: relative;
    overflow: hidden;
    margin-bottom: 100px;
}

.offer-bg {
    background: url("../photos/hobby-bg-min.webp");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 69%;
    top: 0;
    left: 0;
	opacity: 0;
	animation: fadeIn;
	animation-duration: 2.2s;
    animation-delay: 2.5s;
	animation-fill-mode: forwards;
}

.offer-title {
    color: #00d4aa;
    padding: 30px;
    background: #fff;
    border-radius: 8px;
    margin-bottom: 40px;
	opacity: 0;
	animation: fadeInDown;
	animation-duration: 2s;
    animation-delay: 2s;
	animation-fill-mode: forwards;
}

.offer-item {
    margin-top: 40px;
    overflow: hidden;
    border-radius: 8px;
}

.offer-item figure {
    border: 3px solid #fff;
}

.offer-item figure img {
    width: 100%;
    display: block;
}

.offer-1 {
	opacity: 0;
	animation: fadeInLeft;
	animation-duration: 2.5s;
    animation-delay: 2.2s;
	animation-fill-mode: forwards;
}

.offer-2 {
	opacity: 0;
	animation: fadeInRight;
	animation-duration: 2.5s;
    animation-delay: 2.2s;
	animation-fill-mode: forwards;
}

.offer-content {
    padding: 30px;
    background: #fff;
    color: #32353a;
    position: relative;
    border-radius: 8px;
}

.offer-content h4 {
    margin-bottom: 30px;
    font-weight: normal;
}

.offer-content p {
    margin-bottom: 0;
}

span.offer-left {
    display: none;
}

.offer-left>i {
    display: none;
}

span.offer-right {
    display: none;
}

.offer-right>i {
    display: none;
}

.projects-header {
    margin-top: 30px;
    margin-bottom: 80px;
    text-align: center;
}

.projects-header h2 {
    font-weight: 300;
    color: #fff;
    font-size: 36px;
    margin-bottom: 30px;
}

.projects-header p {
    font-size: 17px;
    line-height: 1.75em;
}

.projects-holder {
    margin-bottom: 80px;
}

@keyframes ScaleIn {
    0% { opacity: 0;transform: scale(1.1); }
    100% { opacity: 1;transform: scale(1); }
}

.animatescalein {
	opacity: 0;
	animation: ScaleIn 0.6s ease-in;
	animation-fill-mode: forwards;
}

.project-item.proj1 { animation-delay: 0.1s; }
.project-item.proj2 { animation-delay: 0.25s; }
.project-item.proj3 { animation-delay: 0.4s; }
.project-item.proj4 { animation-delay: 0.55s; }
.project-item.proj5 { animation-delay: 0.7s; }
.project-item.proj6 { animation-delay: 0.85s; }
.project-item.proj7 { animation-delay: 1.0s; }

span.solid-line {
    width: 60px;
    height: 2px;
    background: #32353a;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.blog-header {
    margin-bottom: 90px;
}

.blog-header h2 {
    font-size: 36px;
    color: #fff;
    margin-bottom: 30px;
    font-weight: 300;
    animation-delay: 0.5s;
}

.blog-header p {
    font-size: 17px;
    line-height: 1.75em;
    margin-bottom: 35px;
    animation-delay: 1.2s;
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.blog-announcement {
	opacity: 0;
    animation: zoomIn 2s 1s forwards;
}

.blog-button a {
    background: #d5b14f;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    padding: 12px 20px;
    color: #fff !important;
	opacity: 0;
	animation: zoomIn 2s 1.5s forwards;
}

/* Omega HH viewed @2023-07-12 */

.contact-header {
    margin-bottom: 80px;
}

.contact-header h2 {
    font-size: 36px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 30px;
	opacity: 0;
	animation: fadeInLeft;
	animation-duration: 2s;
    animation-delay: 0.5s;
	animation-fill-mode: forwards;
}

.contact-header p {
    font-size: 17px;
    line-height: 1.75em;
	opacity: 0;
	animation: fadeInRight;
	animation-duration: 2s;
    animation-delay: 1.4s;
	animation-fill-mode: forwards;
}

.contact-social {
	opacity: 0;
	animation: fadeInUp;
	animation-duration: 2s;
    animation-delay: 2s;
	animation-fill-mode: forwards;
}

.contact-social li {
    display: inline-block;
    margin: 0 20px;
}

.contact-social li i {
    font-size: 24px;
}

.contact-holder {
    background: #46494f;
    margin-bottom: 100px;
}

.canvas-holder {
	padding: 20px;
	width: 100%;
	height: 500px;
	min-height: 400px;
	position: relative;
}

.canvas-holder canvas {
	display: block;
	width: 100% !important;
	height: 100% !important;
}

.contact-form {
    animation-delay: 3.5s;
    padding-right: 30px;
}

@media screen and (max-width: 992px) {
    .contact-form {
        padding-left: 30px;
    }
}

.contact-form h4 {
    color: #fff;
    font-size: 24px;
    margin: 30px 0;
}

.contact-form input,.contact-form textarea {
    background: #32353a;
    border: 1px solid #46494f;
    border-radius: 6px;
    outline: 0;
    color: #fff;
    font-size: 13px;
    height: 44px;
    max-width: 100%;
    width: 100%;
    margin-bottom: 30px;
    padding: 10px;
    transition: border-color 0.2s;
}

.contact-form input:focus,.contact-form textarea:focus {
    border-color: #00d4aa;
}

.contact-form textarea {
    height: 150px;
}

.message-button {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    background: #00d4aa;
    color: #fff !important;
    padding: 12px 20px;
    display: inline-block;
    margin-bottom: 30px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.message-button:hover {
    background: #00b892;
}

.message-button:disabled {
    background: #6a6a6a;
    cursor: not-allowed;
}

.main-footer {
    border-top: 2px solid #46494f;
    border-bottom: 2px solid #46494f;
    padding: 30px 0 15px 0;
}

.main-footer .social li {
    display: inline-block;
    margin: 0 15px 15px 15px;
}

.main-footer .social li a {
    padding: 20px;
}

.enterblog li a:hover, .main-footer .social li a:hover {
    background: #00d4aa;
    border-color: #00d4aa;
}

.enterblog li {
    display: inline-block;
}

.enterblog li a {
    padding: 10px 15px;
    display: inline-block;
    border: 2px solid #46494f;
}

.copyright {
    margin-top: 30px;
    margin-bottom: 20px;
}

.copyright p {
    margin-bottom: 10px;
    font-size: 12px;
}

html {
    font-size: 93.75%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    background: #32353a;
    font-size: 16px;
    font-weight: 400;
    color: #b7bcbe;
    padding: 20px;
    font-family: "Roboto",sans-serif;
    line-height: 1.55;
    text-rendering: optimizeLegibility;
    /* -webkit-backface-visibility: hidden; */
    overflow-x: hidden;
}

p {
    margin-bottom: 30px;
}

h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 15px;
}

a {
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

span[class*="border-"] {
    position: fixed;
    background: #1f2122;
}

.border-top {
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
}

.border-left {
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
}

.border-bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
}

.border-right {
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;
}

.shape-1 {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
	background-image: url("data:image/webp;base64,UklGRrgAAABXRUJQVlA4WAoAAAAQAAAAMQAAMQAAQUxQSFgAAAABFyAQSFKffI2ICAdIjSRJkmLuJbihfCaURG8YIvo/Af3Xz9jaWWpja2epja2dpTa2dpba2NpZamNrZ6mNrZ2lNrZ2ltrY2llqY2tnqY2tnaU2tnaWr/0BVlA4IDoAAADQAwCdASoyADIAPpFIoEwlpCMiIggAsBIJaQDT2AWb2Fl0hcYBRAAA/vS8+8FTpXOVRRabC4gAAAAA");
}

.shape-2 {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
	background-image: url("data:image/webp;base64,UklGRrIAAABXRUJQVlA4WAoAAAAQAAAAMQAAMQAAQUxQSFIAAAABFyAQSELffI2ICAczbdtM/QpkkAZtlI0hov8TkOHa2tvFamtvF6utvV2stvZ2sdra28Vqa28Xq629Xay29nax2trbxWprbxerrb1drLb2drECVlA4IDoAAADQAwCdASoyADIAPpFIoEwlpCMiIggAsBIJaQDT2AWb2Fl0hcYBRAAA/vS8+8FTpXOVRRabC4gAAAAA");
}

.main-footer .social li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 15px;
    display: inline-block;
    border: 2px solid #46494f;
}

.pink-button {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 15px;
    display: inline-block;
    background: #a95bc3;
    font-weight: normal;
}

.pink-button:hover {
    color: #fff;
}
